@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('font/cursif-webfont.eot');
    src: url('font/cursif-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cursif-webfont.woff2') format('woff2'),
         url('font/cursif-webfont.woff') format('woff'),
         url('font/cursif-webfont.ttf') format('truetype'),
         url('font/cursif-webfont.svg#cursif') format('svg');
    font-weight: normal;
    font-style: normal;
}
#conteneuropencours
{
padding-top:20px;
}
.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}

td{
text-align:center;
vertical-align:middle;

}



#message,#schema
{
	font-family:Arial;
	text-align: center;
	font-family:Arial;

	font: 150%/100%  Gloria Hallelujah,Helvetica,sans-serif;
	height: 48px;
}

#seca,#opencours{
	border:none;
}

#nb1 , #nb2,#nb3, #nb4{
	border:none;
	font-family:Arial;

	font-family:Arial;
	background-color: #c5f596;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;

	font: 150%/100%  Gloria Hallelujah,Helvetica,sans-serif;
	height: 48px;
	margin:auto;

	right: 58px;
	text-align: center;
	width: 48px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	cursor:pointer;
}

#nb1:hover , #nb2:hover,#nb3:hover, #nb4:hover, #nb5:hover
{
	background:#ffd34e;
}



#opencours{
	border:none;
	font-family:Arial;
	text-align: center;
	font-family:Arial;
	background-color: #ffd34e;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;

	font: 150%/100%  Gloria Hallelujah,Helvetica,sans-serif;
	height: 48px;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-top: 15px;

	text-align: center;
	width:100%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	cursor:pointer;
}

.texte,#equation{
	border:none;
	font-family:Arial;
	text-align: center;
	vertical-align:middle;
	height:108px;
	font-family:Arial;
	font: 150%/100%  Gloria Hallelujah,Helvetica,sans-serif;
}

.bouton
{
	border:none;
	font-family:Arial;
	text-align: center;
	font-family:Arial;
	background-color: #8ab1d9;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	color: #444444;

	font: 100%/100%  Gloria Hallelujah,Helvetica,sans-serif;
	height: 48px;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;


	text-align: center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	cursor:pointer;
}

.bouton:hover{
	background-color: #ffd34e;
}
.infobulle{
    position: absolute;   
    visibility : hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding:5px;
    text-align: center;
	font-family:Arial;
    font-size: 10px;
    background-color: #ffd34e;
}

